* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Ubuntu', sans-serif;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 1170px;
}

.title-font{
  font-family: 'Barlow Condensed', sans-serif;
}